:root {
    --board-slot-length: 50px;
    --board-slot-padding: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .1em;
}

.gameBoard div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    
    height: var(--board-slot-length);
    width: var(--board-slot-length);
    padding: var(--board-slot-padding);
    
    background-color: aqua;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.scoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: calc( (var(--board-slot-length) + var(--board-slot-padding) * 2 + .3em) * 3);
    border: solid black;

    font-family: Arial, Helvetica, sans-serif;
}

.playerPanel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
}

.playerScore {
    font-size: 1.5rem;
}

#playerOneScore {
    display: flex;
    justify-content: end;
}

/* Form Content */
.playerFormContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

/* Modal */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
